
<mat-card class="m-4" style="background-color: rgb(235, 252, 235);">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex items-center justify-start">
      <img mat-card-md-image src="products.png" alt="products" />
      <p class="ml-2">
        {{ product.description }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button [disabled]="product.quantity === 0" mat-icon-button (click)="decrease(product)">
      <mat-icon>remove</mat-icon>
    </button>
    <p>{{ product.quantity }}</p>
    <button [disabled]="product.quantity > 99" mat-icon-button (click)="increase(product)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
