<div class="grid grid-cols-4 gap-1 m-1 items-center border-b-4 border-gray-300 rounded-lg bg-yellow-800 bg-opacity-15">
  <img
    class="rounded-lg"
    src="products.png"
    alt="products"
  />

  <div class="col-span-2">
    <div class="font-bold text-lg">{{ product.name }}</div>
    <div class="text-sm text-gray-600">{{ product.description }}</div>
    <div class="font-bold text-md">MXN {{ product.price | currency }}</div>
  </div>
  <div class="text-center">
    <button (click)="addProduct(product)">Agregar</button>
  </div>
</div>
