<div *ngIf="products.length > 0" class="sticky grid grid-cols-1 w-full h-40 bottom-0 left-0 bg-gray-50 border border-gray-500 shadow-xl  shadow-black rounded-t-3xl items-center px-4">
    <div>
        <p class="font-semibold text-lg text-gray-500">{{totalQuantity}} productos</p>
        <p class="font-extrabold text-2xl">Total: {{totalPrice | currency}} MXN</p>
    </div>
    <div class="text-center">
        <button type="button" class="font-extrabold text-xl rounded-md bg-blue-500 text-gray-100 w-1/2 h-12">Ver pedido</button>
    </div>
</div>